<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body class="bg-zinc-800">
    
    <div class="p-10">
        <div class="nav mb-10">
            <h2 class="text-2xl text-white mb-10 font-bold">Update Users</h2>
            <a href="/" class="text-white bg-yellow-500 rounded-md p-2">Home</a>
    
        </div>
      
        <form action="/update/<%=user._id%>" method="post">
            <label for="name" class="block text-white mb-1">Name</label>
            <input id="name" type="text" placeholder="Name" class="bg-zinc-700 p-2 rounded-md outline-none text-white mb-4 w-full" name="name" value="<%=user.name%>">
            
            <label for="email" class="block text-white mb-1">Email</label>
            <input id="email" type="text" placeholder="Email" class="bg-zinc-700 p-2 rounded-md outline-none text-white mb-4 w-full" name="email" value="<%=user.email%>">
            
            <label for="image" class="block text-white mb-1">Image</label>
            <input id="image" type="text" placeholder="Image" class="bg-zinc-700 p-2 rounded-md outline-none text-white mb-4 w-full" name="image" value="<%=user.image%>">
            
            <input type="submit" value="Update User" class="bg-yellow-500 p-2 rounded-md text-white cursor-pointer">
        </form>
        
    </div>
    
</body>
</html>